<div class="newMeetUpForm">
    <div class="top">   
        <label>MeetUp Title</label> <br>
        <input class="inputBox" type="text" /> <br>
        <label>MeetUp Image URL </label> <br>
        <input class="inputBox" type="text" />  <br>
        <label>Address</label> <br>
        <input class="inputBox" type="text" /> <br> 
        <label>Description</label><br>
        <input class="inputBox" type="text" /> <br> 
    </div>
    <div class="bottom">
        <app-button>Add MeetUp</app-button>
    </div>
</div>
