<div class="header">
    <div class="left">
        <app-logo>MeetUps</app-logo>
    </div>
    <div class="right">
        <app-normal (click) = "handleAllMeetUps()">All MeetUps</app-normal>
        <app-normal (click)="handleNewMeetUp()">New Meetup</app-normal>
        <app-normal *ngIf="isLogin" (click)="handleFavPage()">Favorites</app-normal>
        <app-normal *ngIf="!isLogin" (click)="handleLogin()">Login</app-normal>
        <app-normal *ngIf="isLogin" (click)="logoutHandler()">Logout</app-normal>
    </div>
    

</div>