1.
<!-- <app-button [title]="'Login'"></app-button> -->

<!-- <p>Two-way binding example</p> -->
 <!-- <input [(ngModel)]="name" /> 
<h6>{{name}}</h6>  -->


<!-- NavBar -->
<div class="header">

  <div class="normalcnt">
  <app-normal [n_name]="'About'"></app-normal>
  <app-normal [n_name]="'Products'"></app-normal>
  <app-normal [n_name]="'For Teams'"></app-normal>
</div>

  <app-search [searchbar]="'Type here to search'"></app-search>

  <div class="btnctn">
  <app-button *ngIf="!isLoginTrue"  [title]="'Login'"></app-button>
  <app-button (click)="logoutHandler()"  *ngIf="isLoginTrue" [title]="'LogOut'"></app-button>
  <!-- <app-button [title]="'SignIn'"></app-button> -->
</div>
</div>


<!-- Login Form -->

<!-- <div class="form"  >
  <h5>Email Id - </h5>
  <app-search class="emailBox" style="width: 250px;" [searchbar]="'Enter your mail here'"></app-search>

  <h5>Password - </h5>
  <app-normal [n_name]="'Forgot Password ? '"></app-normal>
  <app-search [searchbar]="'Enter your password here'"></app-search>

  <app-button (click)="loginHandler()" [title]="'Login'"></app-button>
</div> -->

<!-- JSON Task -->

<div>
  <!-- <h1>{{response}}</h1> -->
  <!-- {{response | json}} -->
  <!-- {{response.layout | json}} -->
  <!-- <div *ngFor="let i of response.rawMapping">
    {{i|json}}
  </div> -->
<!-- 
{{response.rawMapping.Sleep | json}} -->

<!-- {{a}} -->


<!-- jsonData -->
<!-- <div *ngFor="let i of result.attributes[0].attributeValues">
  {{i|json}}
</div> -->


<!-- </div> -->
<form (submit)="onLoginclick()">
  <label>Username</label>
  <input [ngClass]="{ 'red': !userNameValid  }" (blur)="isFieldUsernameValid()" type="text" 
  [(ngModel)]="userName" name="userName" />
  <span style="color:red" 
  *ngIf="!userNameValid">Username is Required</span>
  
  
  <br>
  <label>Password</label>
  <input [ngClass]="{ 'red': !passwordValid }" 
  (blur)="isFieldPasswordValid()" type="password" [(ngModel)]="password" name="password" />
  <span style="color:red" *ngIf="!passwordValid">Password is Required</span>
  
  
  <br>
  <button type="submit">Login</button>
</form>


